* {
	padding:0;
	margin:0;
}

body {
	overflow:hidden;
	background-image:url("../img/landscape-mountains-background.jpg");
	background-repeat:no-repeat;
	background-size: 100% auto;
	font-family:Arial;
}

#header {
	position:absolute;
	width:100%;
	height:80px;
	top:0px;
	left:0px;
}

#main {
	position:absolute;
	width:100%;
	height:100%;
	bottom:0px;
	left:0px;
}

#addButton {
	position:absolute;
	top:0;
	left:350px;
	z-index:3;
}

#pauseButton {
	position:absolute;
	top:0;
	left:500;
	z-index:3;
}

#urlBox {
	position:absolute;
	top:0;
	left:0;
	width:350px;
	z-index:3;
}

#mainHeader {
	position:absolute;
	right:10px;
	bottom:5px;
	font-size:60px;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}
#clock {
	position:absolute;
	left:10px;
	bottom:5px;
	font-size:45px;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}

.mask {
	z-index: 2;
	position: absolute; 
	top: 0;
	left:0;
	width: 100%;
	height:100%;
	background-color:#fff;
	opacity:0.4;
	display: none;
}

iframe {
	z-index:1;
}

div.youtubePane {
	min-width:400px;
	min-height:225px;
	position:absolute;
}

div.hoverDiv {
	position:absolute;
	width:100%;
	height:40px;
}

div.hoverDiv button.closeButton {
	position:absolute;
	right:5px;
	top:5px;
	width:30px;
	height:30px;
	display:none;
	z-index:10;
}

div.hoverDiv:hover {
	background-color:red;
}

div.hoverDiv:hover button.closeButton {
	display:inline;
}